{% if pages %}
<ul>
    {% for page in pages %}
    <li class="list-group-item">
        <div class="row">
            <a class="col-md-9" 
               href="{% url 'rango:goto' %}?page_id={{ page.id }}">{{ page.title }}</a>
            <div class="col-md-3">
                {% if page.views > 1 %}
                    {{ page.views }} views
                {% elif page.views == 1 %}
                    {{ page.views}} view
                {% endif %}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% else %}
<strong>No pages currently in category.</strong>
{% endif %}